<div class="">
    <img src="assets/image/img.png" alt="" class="image">

    <div class="d-flex my-2">
        <p class="title">Essentials Women's Classic-fit Short-Sleeve V-Neck T-Shirt</p>
        <p *ngIf="data.type === 'new'" class="text-new">New</p>
    </div>

    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <p class="price">460.000 đ</p>
            <p class="cost">500.000 đ</p>
        </div>
        <p class="text">Đã bán 1.246k</p>
    </div>
</div>