<div class="d-flex bg-light justify-content-center align-items-center w-100 h-100">
    <div class="content row">
        <div class="image col-6 d-none d-sm-flex">
            <img src="assets/image/bg-forgot.png" alt="">
        </div>
        <div class="col-md-6 col-sm-12 px-5 d-flex justify-content-center align-items-center">
            <div class="w-100">
                <h2 class="title">
                    Quên mật khẩu
                </h2>
                <form action="" [formGroup]="form">
                    <label for="" class="text-center">Vui lòng nhập thông tin email / SĐT để lấy lại mật khẩu!</label>
                    <input type="text" formControlName="email" class="form-control">
                </form>


                <button (click)="onSubmit()" [disabled]="form.invalid"
                    class="btn-primary w-100 border-0 py-2 my-3 text-center">
                    Gửi
                </button>
                <p type="button" routerLink="/login" class="text-forgot">Trở lại đăng nhập ></p>
            </div>
        </div>
    </div>

</div>