<div class="d-flex bg-light justify-content-center align-items-center w-100 h-100">
    <div class="content px-5">
        <h2 class="title">
            Register Form
        </h2>
        <form action="" class="row w-100" [formGroup]="form">
            <div class="col-md-6 col-sm-12">
                <label for="">User Name <span class="text-required">*</span></label>
                <input type="text" formControlName="username" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">Mật khẩu <span class="text-required">*</span></label>
                <div class="position-relative">
                    <input [type]="hide ? 'text' : 'password'" formControlName="password" class="form-control password">
                    <div class="btn-hide" type="button" (click)="hide = !hide">
                        <svg *ngIf="hide; else show" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path
                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path
                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                        </svg>
                        <ng-template #show>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path
                                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                <path
                                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                <path
                                    d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <label for="">First Name <span class="text-required">*</span></label>
                <input type="text" formControlName="firstName" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">Last Name <span class="text-required">*</span></label>
                <input type="text" formControlName="lastName" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12">
                <label for="">Phone Number <span class="text-required">*</span></label>
                <input type="text" formControlName="phone" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">Email <span class="text-required">*</span></label>
                <input type="text" formControlName="email" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12">
                <label for="">Date of Birth (YY/MM/DD) <span class="text-required">*</span></label>
                <input type="date" formControlName="dob" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">Gender <span class="text-required">*</span></label><br>
                <mat-radio-group [color]="'warn'" formControlName="gender" aria-label="Select an option">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female" class="mx-3">Female</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-6 col-sm-12">
                <label for="">Province / City <span class="text-required">*</span></label>
                <div class="position-relative">
                    <select (change)="onChangeProvince($event)" class="form-control">
                        <option value="" disabled selected hidden>Choose City/Province</option>
                        <option *ngFor="let option of provinces$ | async" [value]="option | json">{{option?.name}}
                        </option>
                    </select>

                    <div class="icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">District <span class="text-required">*</span></label>
                <!-- <input type="text" formControlName="district" class="form-control"> -->
                <div class="position-relative">
                    <select (change)="onChangeDistrict($event)" class="form-control">
                        <option value="" disabled selected hidden>Choose District</option>
                        <option *ngFor="let option of district$ | async" [value]="option | json">{{option?.name}}
                        </option>
                    </select>

                    <div class="icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <label for="">Ward <span class="text-required">*</span></label>
                <!-- <input type="text" formControlName="ward" class="form-control"> -->
                <div class="position-relative">
                    <select formControlName="ward" class="form-control">
                        <option value="" disabled selected hidden>Choose Ward</option>
                        <option *ngFor="let option of ward$ | async" [value]="option.name">{{option?.name}}
                        </option>
                    </select>

                    <div class="icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="">Street Address <span class="text-required">*</span></label>
                <input type="text" formControlName="address" class="form-control">
            </div>

            <div class="d-flex align-items-center my-3">
                <input type="checkbox" formControlName="policy">
                <p class="text-policy">By registering, you agree to AlphaCom's <strong class="text-black">Terms of
                        Service</strong> and <strong class="text-black">Privacy Policy</strong></p>
            </div>



        </form>
        <button (click)="onSubmit()" [disabled]="form.invalid" class="btn-primary border-0 py-2 px-5 text-center">
            Submit
        </button>

        <p class="text-already"> Already have an account, <span class="text-login" type="button"
                routerLink="/login">Login</span></p>
    </div>

</div>