.content {
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 0;
}

.type {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #F27449;
    margin-left: 20px;
    margin-bottom: 0;
}

.decription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.text-rate {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #707070;
    margin-left: 10px;
}

.text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #707070;
}

.active {
    align-items: center;
    display: flex;
}

